/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
    margin: 0 auto;
    max-width: 250px;
}

a,
a:hover {
    text-decoration: none;
    color: #0078A3;
}

/* https://coolors.co/f2f2f2-ffffff-0078a3-14281d-ff7075 */ 

.icon.ok {
    color: #5D9A5B;
}

.icon.nok {
    color: #FF474E;
}

vaadin-text-field,
vaadin-integer-field {
    width: 100%;
}

vaadin-grid-cell-content {
    text-overflow: unset;
    white-space: break-spaces;
    overflow: unset;
}

vaadin-grid-cell-content:has(>vaadin-grid) {
    padding: 0;
}

table.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table tr th {
    font-weight: bold;
    background-color: #514663;
    color: #FFFFFF;
    border-collapse: collapse;
}

.custom-table tr th,
.custom-table tr td {
    padding: 10px;
    border: 1px solid #DDDDDD;
    vertical-align: middle;
}

.custom-table tr.even {
    background-color: #CCCEE0;
}

.custom-table td {
    min-width: 75px;
    vertical-align: top;
}

.custom-table td.numeric {
    text-align: center;
}

vaadin-button {
    cursor: pointer;
}

div.breadcrumb a,
div.breadcrumb h2 {
    display: inline-block;
    color: #0078A3;
    font-weight: 600;
    font-size: 20px;
}

div.breadcrumb a {
    color: #707070;
    /* font-style: italic; */
    margin-right: 0.5rem;
}

div.breadcrumb a::after {
    content: "\000BB";
    margin-left: 0.5em;
}